/node_modules
package-lock.json
nodemon.json
/.vscode

# dev
tempCodeRunnerFile.js
tempCodeRunnerFile.cpp
tempCodeRunnerFile.exe
tempCodeRunnerFile.py
/source/data/pages/renderer/tempCodeRunnerFile.js
svg.svg
note