@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

button,
select,
input,
a {
    cursor: pointer;
    pointer-events: all;
}

button {
    border: none;
    background-color: transparent;
}

button:focus-visible,
*[contenteditable=''],
input:focus-visible,
textarea:focus-visible {
    outline: none;
}

body {
    --popup-bgc: #e0f5ff;
    --code-bgc: #1f1f1f;
    --default-font-family: 'Open Sans', sans-serif;
    --header-font-size: 20px;
    --margin-by-header: calc(var(--header-font-size) * 3.5);
    --content-space: calc(var(--header-font-size) * 0.5);
    --content-width: calc(100vw - var(--body-padding) * 2);
    --body-padding: 20px;

    display: flex;
    flex-direction: column;
    padding: 0 var(--body-padding);
    font-size: 10px;
}

#bg {
    font-size: 1em;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#2e334f 0%, #4f547d 100%);
    z-index: -10;

    .brc {
        position: absolute;
        height: 15em;
        right: 4em;
        bottom: -4.5em;
    }
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: var(--header-font-size);
    height: 3em;
    top: 0;
    left: 0;
    box-shadow: 0 0 0.3em 0 #000000;
    background: linear-gradient(#2d3250 0%, #34395a 100%);
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;

    .left,
    .right {
        display: flex;
        align-items: center;
        font-size: 1em;
    }

    .left {
        .home {
            display: flex;
            width: 3em;
            height: 3em;
            margin-left: 1em;
            transition: background-color 200ms;
        }

        .home svg {
            margin: auto;
            fill: #ffffff;
            height: 55%;
            transition: height 200ms;
        }

        .home:hover {
            background-color: #ffffff20;
        }

        .home:hover svg {
            height: 45%;
        }

        .title {
            position: relative;
            display: flex;
            align-items: center;
            color: #ffffff;
            font-family: var(--default-font-family);
            font-weight: 900;
            font-size: 1.8em;
            margin-left: 0.555em;
            text-shadow: 0.1em 0.1em 0 #475ab9;
        }

        .title img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 105%;
            transform: translate(-50%, -45%);
            z-index: -1;
        }
    }

    .right>* {
        margin: 0 var(--margin);
    }

    .right {
        --margin: 0.6em;
        font-size: 1em;
        align-items: center;
        padding-right: var(--margin);

        button {
            position: relative;
            height: 1.5em;
            font-size: inherit;
        }

        button::before {
            content: '|';
            position: absolute;
            color: #475ab9;
            top: 50%;
            right: calc(100% + var(--margin));
            transform: translate(50%, -50%);
            pointer-events: none;
        }

        svg {
            fill: white;
            stroke: white;
            height: 1.5em;
            transition: transform 200ms;
        }

        button:hover svg {
            transform: scale(1.2);
        }

        #lang-btn {
            font-size: 1em;
        }

        #lang-btn::before {
            content: '';
        }
    }
}

main,
footer,
#code-box {
    width: calc(100% - 420px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-by-header);
    background-color: transparent;
    font-size: 1em;

    .bottombar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1em;
        margin-top: var(--content-space);
        padding: 0 0.7em;
        width: 100%;
        height: 5em;
        border-radius: 1em;
        background-color: #2f3453;

        .list-wrapper {
            font-size: 1em;
            position: relative;
            background-color: #3e456e;
            height: 3.5em;
            border-radius: 0.5em;
            border: 0.15em solid #ffffff;
            max-width: calc(var(--content-width) - 20em);
        }

        .list-wrapper>* {
            color: #ffffff;
            height: 100%;
        }

        .list {
            font-size: 1.6em;
            padding-left: 0.625em;
            padding-right: 1.875em;
            border: none;
            font-family: var(--default-font-family);
            border-radius: 0.3125em;
            background-color: #3e456e;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .list:focus-visible {
            outline: none;
        }

        .list-wrapper div {
            font-size: 2.5em;
            position: absolute;
            right: 0.2em;
            top: 0.15em;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 4em;
            width: 18em;
        }

        button {
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4em;
            height: 4em;
        }

        svg {
            fill: #ffffff;
            height: 80%;
            pointer-events: none;
        }

        button.setting {
            position: relative;
            transition: transform 400ms;
            font-family: var(--default-font-family);
            font-weight: 600;

            * {
                font-family: var(--default-font-family);
                font-weight: 500;
            }

            ul {
                position: absolute;
                width: 15em;
                background-color: #1D2033;
                font-size: 1.5em;
                border-radius: 0.5em;
                padding: 0.75em;
                color: white;
                cursor: default;
                bottom: 85%;
                right: -150%;
                transform: scale(0.5);
                opacity: 0;
                transition: 400ms;
            }

            ul::after {
                content: '';
                position: absolute;
                top: 100%;
                right: 0.65em;
                border: 0.75em transparent solid;
                border-top-color: #1D2033;
            }

            li {
                font-size: 1em;
                display: flex;
                align-items: center;
                text-align: left;
                list-style-type: none;
            }

            li svg {
                height: 1em;
                margin-right: 0.5em;
            }

            li.delay .value {
                font-size: 1em;
                display: inline-block;
                background-color: #1f1f1f;
                color: white;
                width: 4em;
                padding: 0.1em 0.3em;
                text-align: right;
                border-radius: 0.3em;
                border: 0.1em #475ab9 solid;
                cursor: text;
                margin: 0 0.3em;
            }

            svg {
                transition: transform 400ms;
            }
        }

        button.setting.show {
            >svg {
                transform: rotate(-30deg);
            }

            ul {
                transform: scale(1);
                bottom: 140%;
                right: 0;
                opacity: 1;
                pointer-events: all;
            }

            ul * {
                pointer-events: all;
            }
        }
    }

    .no-action {
        display: none;
        font-family: var(--default-font-family);
        background-color: #252a47;
        width: 100%;
        padding: 1em 2em;
        color: white;
        font-size: 1.5em;
        font-weight: 600;
        border-radius: 0.5em;

        svg {
            fill: white;
            height: 1em;
            margin-right: 0.2em;
        }
    }
}

main.fullscreen {
    background: linear-gradient(#2e334f 0%, #4f547d 100%);

    .right {
        width: 13.5em;
    }

    .custom-input {
        display: none;
    }
}

main.no-action {

    #frame,
    .bottombar {
        display: none;
    }

    .no-action {
        display: block;
    }
}

#frame {
    position: relative;
    background-color: #1d2033;
    border-radius: 3em;
    width: 0;
    height: 0;
    font-size: var(--em);
    transition: border-radius 200ms;
    overflow: hidden;
}

#frame.editable {
    border-radius: 0;

    * {
        pointer-events: all;
    }
}

#informations {
    font-size: 1em;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: var(--margin-by-header);
    right: 1em;
    bottom: 12em;
    width: 42em;
    padding: 2em 1.5%;
    background-color: #1d2033;
    border-radius: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: all;
    transition: top 1s, width 1s, bottom 1s;
    z-index: 5;

    * {
        pointer-events: all;
    }

    table {
        margin: 0 5%;
        width: 87%;
    }

    tr {
        display: flex;
        --TPTP: ĐTNL;
    }

    td {
        padding: 0.5em 1em;
        border: 0.1em solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    tr:first-child td {
        border-top: none;
    }

    tr:last-child td {
        border-bottom: none;
    }

    td:first-child {
        border-left: none;
    }

    td:last-child {
        border-right: none;
    }

    h2 {
        display: block;
        width: 100%;
        margin-top: 1.65em;
        margin-bottom: 0.55em;
        cursor: text;
        font-weight: 700;
        font-size: 1.25em;
    }

    h2::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.15em;
        background: linear-gradient(90deg, #ffffff 20%, #ffffff00 100%);
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        margin-top: 0.2em;
    }

    .expand {
        position: absolute;
        top: 0.5em;
        left: 0.5em;

        svg {
            height: 1.5em;
            fill: white;
            transition: transform 1s;
        }
    }

    h1 {
        display: block;
        font-size: 1.6em;
        text-align: center;
        font-weight: 900;
    }

    p {
        white-space: wrap;
        line-height: 1.3em;
        font-family: var(--default-font-family);
    }

    >* {
        font-family: var(--default-font-family);
        font-weight: 600;
        font-size: 1.4em;
        color: #ffffff;
    }

    div {
        display: none;
    }

    div.show {
        display: block;
    }
}

#informations.expand {
    top: 6.2em;
    width: calc(100% - var(--body-padding));
    bottom: 0;

    .expand {
        svg {
            transform: rotate(180deg);
        }
    }
}

#informations::-webkit-scrollbar,
#informations::-webkit-scrollbar-thumb {
    width: 2.6em;
    border-radius: 1.3em;
    background-clip: padding-box;
    border: 1em solid transparent;
}

#informations::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 1em;
    color: white;
}

code {
    font-family: monospace;

    .mtk0 {
        color: #6e7681;
    }

    .mtk0.small {
        font-size: 0.8em;
    }

    .mtk1 {
        color: #cccccc;
    }

    .mtk3 {
        color: #d4d4d4;
    }

    .mtk5 {
        color: #6a9955;
    }

    .mtk6 {
        color: #569cd6;
    }

    .mtk7 {
        color: #b5cea8;
    }

    .mtk10 {
        color: #9cdcfe;
    }

    .mtk12 {
        color: #ce9178;
    }

    .mtk16 {
        color: #dcdcaa;
    }

    .mtk17 {
        color: #4ec9b0;
    }

    .mtk18 {
        color: #c586c0;
    }

    .mtk19 {
        color: #4fc1ff;
    }

    .bracket-highlighting-0,
    .bracket-highlighting-3,
    .bracket-highlighting-6 {
        color: #ffd700;
    }

    .bracket-highlighting-1,
    .bracket-highlighting-4 {
        color: #da70d6;
    }

    .bracket-highlighting-2,
    .bracket-highlighting-5 {
        color: #179fff;
    }
}

#code-box {
    font-size: 1em;
    margin-top: var(--content-space);
    background-color: #242840;
    padding: 2em 1em;
    border-radius: 1em;

    .top {
        display: flex;
        height: 5em;
        z-index: 10;

        .right {
            flex: 1;
            position: relative;
            height: 100%;
            display: flex;
            align-items: end;
            justify-content: end;
            padding-bottom: 0.5%;
        }
    }

    .prolang-list {
        font-size: 1em;
        display: flex;
        position: relative;
        background-color: transparent;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        z-index: 0;

        button {
            font-size: 1em;
            display: flex;
            width: 5em;
            height: 100%;
            z-index: 1;
        }

        svg {
            margin: auto;
            height: 70%;
        }
    }

    .prolang-list::before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(5em * var(--activeID));
        height: 100%;
        width: 5em;
        background-color: var(--code-bgc);
        transition: left 250ms;
        border-radius: 0.5em 0.5em 0 0;
        z-index: 0;
    }

    .prolang-list::-webkit-scrollbar {
        display: none;
    }

    .copy-code {
        font-size: 1em;
        position: absolute;
        right: 0.5em;
        width: 3em;
        height: 3em;
        pointer-events: all;
        background-color: var(--code-bgc);
        z-index: 1;

        svg {
            height: 80%;
            fill: #CDCDCD;
            transition: fill 500ms, transform 200ms;
        }
    }

    .copy-code.success svg {
        fill: greenyellow;
        transform: scale(1.1);
    }

    .copy-code.failure svg {
        fill: red;
        transform: scale(0.9);
    }

    .codes,
    .usage {
        position: relative;
        display: block;
        z-index: 0;

        >code {
            font-size: 1.5em;
            --line-numbers-width: 1.32em;
            display: none;
            width: 100%;
            background-color: var(--code-bgc);
            padding: 0.66em;
            padding-left: calc(var(--line-numbers-width) + 1.32em);
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            -ms-overflow-style: none;
            overflow: visible;
            border-radius: 0 0.5em 0.5em 0.5em;

            .tab::selection,
            .line-code::selection,
            .line-code>span::selection {
                color: inherit;
                background-color: #254F75;
            }
        }

        >code.show {
            display: block;
        }

        >code::-webkit-scrollbar {
            display: none;
        }

        >code {
            .view-line {
                position: relative;
                display: inline-block;
                width: 100%;
                pointer-events: all;
                border-style: solid;
                border-width: 0.132em;
                border-color: transparent;
                border-left: none;
                border-right: none;
                transition: border 200ms, background-color 200ms;
            }

            .view-line::before {
                position: absolute;
                display: inline-block;
                top: 0.066em;
                left: 0;
                transform: translateX(calc(-100% - 0.66em));
                content: attr(order);
                width: var(--line-numbers-width);
                text-align: right;
                color: #6e7681;
                pointer-events: none;
            }

            .view-line:hover {
                border-color: #303030;
                background-color: #ffffff03;
            }

            .view-line>span {
                pointer-events: all;
                cursor: text;
            }

            .view-line .cmt {
                position: absolute;
                left: 5%;
                bottom: 110%;
                max-width: 70%;
                background-color: var(--code-bgc);
                color: #b5b5b5;
                border: 0.066em solid #b5b5b5;
                border-radius: 0.33em;
                padding: 0.462em;
                pointer-events: none;
                opacity: 0;
                -webkit-user-select: none;
                user-select: none;
            }

            .view-line .cmt:hover {
                border-color: #179fff;
            }

            .view-line:hover .cmt {
                animation: showComment 200ms linear forwards 500ms;
                -webkit-user-select: auto;
                user-select: auto;
            }

            .view-line code {
                display: inline-block;
            }
        }
    }

    .codes {
        .copy-code {
            top: 0.5em;
        }
    }

    .usage {
        margin-top: 1em;

        .copy-code {
            top: 3.2em;
        }
    }

    .usage .label-name {
        display: flex;
        color: #f2f2f2;
        height: 2.7em;
        font-family: var(--default-font-family);
        border-radius: 0.5em 0.5em 0 0;

        >* {
            font-size: 1.35em;
            height: 2em;
            line-height: 2em;
            background-color: var(--code-bgc);
            border-top: 0.1em solid #0078d4;
        }

        .icon {
            padding: 0 0.8em;
            border-top-left-radius: 0.5em;

            svg {
                margin-top: 40%;
                height: 60%;
            }
        }

        .extension {
            padding-right: 0.8em;
            border-top-right-radius: 0.5em;
        }
    }

    .usage .label-name::after {
        content: '';
    }
}

@keyframes showComment {
    to {
        opacity: 1;
        pointer-events: all;
    }
}

footer {
    font-size: 1.4em;
    font-family: var(--default-font-family);
    display: flex;
    justify-content: space-around;
    margin-top: var(--content-space);
    background-color: #1D2033;
    color: #f4f4f4;
    padding: 0.142em 1.42em;
    margin-bottom: 3.55em;
    border-radius: 0.71em;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 1em;
    z-index: 999;
}

#popup .overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 1s;
}

#popup .overlay.show {
    opacity: 0.7;
    pointer-events: all;
}

#popup .multi-overlay {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 100;

    * {
        position: absolute;
        background-color: black;
        opacity: 0;
    }

    .top {
        top: 0;
        left: 0;
        right: 0;
        transition: height 1s;
    }

    .right {
        right: 0;
        transition: top 1s, height 1s, width 1s;
    }

    .bottom {
        bottom: 0;
        left: 0;
        right: 0;
        transition: height 1s;
    }

    .left {
        left: 0;
        transition: top 1s, height 1s, width 1s;
    }
}

#popup .multi-overlay.show {
    opacity: 0.7;
    pointer-events: all;

    * {
        opacity: 1;
        pointer-events: all;
    }
}

#popup .multi-overlay.show[enableClick="true"] {
    pointer-events: none;
}

#popup .guide-box {
    font-size: 1em;
    position: absolute;
    background-color: white;
    border-radius: 1.5em;
    max-width: 50vw;
    opacity: 0;
    transition: top 1s, left 1s;
    z-index: 200;

    .message {
        font-size: 1.5em;
        padding: 0.99em;
        padding-top: 1.65em;
        font-family: var(--default-font-family);
        font-weight: 700;
    }

    .bottombar {
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2em;
    }

    .previous svg,
    .next svg {
        fill: black;
        height: 3em;
    }

    .previous,
    .next {
        font-size: 1em;
        pointer-events: none;
        transition: opacity 200ms;
    }

    .previous.disabled,
    .next.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    .line {
        position: relative;
        margin: 0 0.5em;
        height: 1em;
        width: 10em;
        border-radius: 0.5em;
        background-color: gray;
        overflow: hidden;
    }

    .line::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: calc(100% / var(--len));
        height: 100%;
        top: 0;
        left: calc(1% * (var(--cur) / var(--len) * 100));
        background-color: black;
        transition: left 1s;
    }

    .close {
        position: absolute;
        right: 0.2em;
        top: 0;
        font-size: 2.5em;
    }
}

#popup .guide-box.show {
    opacity: 1;

    .previous,
    .next {
        pointer-events: all;
    }
}

#popup .custom-input {
    font-size: 1em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    opacity: 0;
    background-color: var(--popup-bgc);
    padding: 1em;
    border-radius: 1em;
    border: 0 solid transparent;
    transition: top 500ms, opacity 500ms, border 500ms;
    box-sizing: content-box;
    font-family: var(--default-font-family);

    .title {
        font-size: 1em;
        position: relative;
        text-align: center;
    }

    .title::before {
        content: '';
        position: absolute;
        height: 0.2em;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: -1;
    }

    .title::after {
        content: attr(data-text);
        font-weight: 700;
        font-size: 1.8em;
        background-color: var(--popup-bgc);
        padding: 0 3%;
    }

    .constraints {
        display: block;
        font-size: 1.4em;
        margin-bottom: 0.355em;

        div {
            display: none;
        }

        div.show {
            display: block;
        }

        span {
            display: inline-block;
        }
    }

    textarea {
        width: 100%;
        min-height: 6.25em;
        background-color: var(--code-bgc);
        font-family: monospace;
        color: #cccccc;
        font-size: 1.6em;
        padding: 0.625em;
        border-radius: 0.3125em;
        overflow: hidden;
        resize: none;
    }

    .btns {
        font-size: 1em;
        text-align: right;
        margin-top: 0.5em;

        button {
            font-size: 1.5em;
            border: 0.132em solid transparent;
            padding: 0.33em 0.66em;
            font-weight: 600;
            border-radius: 0.33em;
        }

        .close {
            border-color: red;
            color: red;
        }

        .custom {
            margin-left: 0.33em;
            border-color: green;
            background-color: green;
            color: white;
        }
    }
}

#popup .custom-input.show {
    opacity: 1;
    top: 50%;
    pointer-events: all;

    * {
        pointer-events: all;
    }
}

#popup .custom-input.success {
    border-width: 0.5em;
    border-color: green;
}

#popup .custom-input.failure {
    border-width: 0.5em;
    border-color: red;
}

#popup .apply-frame-editing {
    font-size: 1.8em;
    position: absolute;
    background-color: green;
    color: white;
    font-family: var(--default-font-family);
    font-weight: 600;
    padding: 0.11em 0.55em 0.22em;
    border-radius: 0.275em;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms;
    z-index: 110;
}

#popup .apply-frame-editing.show {
    opacity: 1;
    pointer-events: all;
}

#popup .select-action {
    font-size: 1.6em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--popup-bgc);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    opacity: 0;
    transition: top 500ms, opacity 500ms;

    section {
        display: flex;
        align-items: center;
        height: 2em;
    }

    span {
        font-family: monospace;
        font-weight: bold;
        margin-right: 0.3em;
        width: var(--span-width);
        text-align: right;
    }

    input {
        background-color: var(--code-bgc);
        color: #cccccc;
        height: 1.8em;
        border: none;
        font-size: 0.9em;
        padding: 0 0.4em;
        border-radius: 0.2em;
        width: var(--input-width);
        cursor: text;
    }

    section button {
        height: 2em;
        width: 2em;
        margin-left: 0.5em;
        font-size: 1em;
    }

    section button.error {
        animation: shake 200ms;
    }

    svg {
        height: 80%;
    }

    .title {
        position: relative;
        text-align: center;
        margin-bottom: 0.25em;
    }

    .title::before {
        content: '';
        position: absolute;
        height: 0.1em;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: -1;
    }

    .title::after {
        content: attr(data-text);
        font-family: var(--default-font-family);
        font-weight: 700;
        font-size: 1em;
        background-color: var(--popup-bgc);
        padding: 0 3%;
    }

    .close {
        position: absolute;
        font-size: 1.5em;
        right: 0.2em;
        bottom: calc(100% + 0.2em);
        width: 2em;
        background-color: red;
        color: white;
        pointer-events: none;
        border-radius: 0.2em;
    }
}

#popup .select-action.show {
    opacity: 1;
    top: 50%;

    .close {
        pointer-events: all;
    }
}

@keyframes shake {
    20% {
        transform: translate(0.2em);
    }

    40% {
        transform: translate(-0.2em, 0.2em);
    }

    60% {
        transform: translate(0.2em);
    }

    80% {
        transform: translate(0.2em, -0.2em);
    }
}

@media only screen and (max-width: 72em) {
    #bg .brc {
        display: none;
    }

    #informations {
        position: static;
        margin-top: var(--content-space);
        padding: 2% 5%;

        .expand {
            display: none;
        }
    }

    #informations.expand {
        top: auto;
        width: auto;
        height: auto;
    }

    main,
    footer,
    #code-box,
    #informations {
        width: 100%;
    }
}

@media only screen and (max-width: 56em) {
    body {
        --header-font-size: 18px;
        font-size: 9px;
    }
}

@media only screen and (max-width: 40em) {
    body {
        --body-padding: 10px;
        --header-font-size: 15px;
        font-size: 8px;
    }

    #popup .custom-input {
        width: 70%;
    }
}

@media only screen and (max-width: 24em) {
    body {
        --body-padding: 1vw;
        --header-font-size: 4vw;
        font-size: 2vw;
    }

    header {
        .left {
            .home {
                width: 2.8em;
                height: 2.8em;
                margin-left: 0.5em;
            }

            .title {
                font-size: 1.5em;
                margin-left: 0.4em;
            }
        }
    }

    #informations {
        font-size: 1.2em;
    }

    footer {
        padding: 0.33em 2em;
    }

    #popup .guide-box {
        max-width: 80vw;
    }

    #popup .custom-input {
        width: 80%;
    }
}