@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

button,
select {
    cursor: pointer;
    pointer-events: all;
}

input {
    cursor: text;
    pointer-events: all;
}

button {
    border: none;
    background-color: transparent;
}

button:focus-visible,
*[contenteditable=''],
input:focus-visible {
    outline: none;
}

body {
    font-size: 10px;
    height: 100vh;
    background-color: #f2f2f2;
    margin-bottom: 20em;
    --popup-bgc: #e0f5ff;
    --header-height: 100px;
    --default-font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 1em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    top: 0;
    left: 0;
    box-shadow: 0 0 1em 0 #000000;
    background-color: #303554;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;

    svg.decorate {
        height: var(--header-height);
        stroke: none !important;
    }

    .left,
    .right {
        display: flex;
        align-items: center;
    }

    .left {
        .title {
            font-size: 5em;
            position: relative;
            display: flex;
            align-items: center;
            color: #ffffff;
            font-family: var(--default-font-family);
            font-weight: 900;
            text-shadow: 0.08em 0.08em 0 #475ab9;
            margin-left: 1.4em;
        }

        .title img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 105%;
            transform: translate(-50%, -45%);
            z-index: -1;
        }

        .title .decorate {
            position: absolute;
        }
    }

    .right>* {
        margin: 0 var(--margin);
    }

    .right {
        font-size: 2.5em;
        --margin: 0.6em;
        align-items: center;
        padding-right: var(--margin);

        button {
            position: relative;
            height: 1.5em;
            font-size: inherit;
        }

        button::before {
            content: '|';
            position: absolute;
            color: #475ab9;
            top: 50%;
            right: calc(100% + var(--margin));
            transform: translate(50%, -50%);
            pointer-events: none;
        }

        svg {
            fill: white;
            stroke: white;
            height: 100%;
            transition: transform 200ms;
        }

        button:hover svg {
            transform: scale(1.2);
        }
        
        #lang-btn {
            font-size: inherit;
        }

        #lang-btn::before {
            content: '';
        }
    }
}

main {
    font-size: 1em;
    position: relative;
    padding: 8em 4em 10em;
    background: url(/jpg/home-main-bg.jpg);
    background-size: cover;
    text-align: center;
    box-shadow: 0 0 1em 0 #000000;

    * {
        font-family: var(--default-font-family);
    }

    .above {
        font-size: 3.2em;
        font-weight: 800;
        margin-top: 1.8em;
        margin-bottom: 1em;
        text-transform: uppercase;
        color: white;
    }

    .autoComplete_wrapper {
        font-size: 1.4em;
    }

    input {
        width: 50em;
    }

    footer {
        font-family: var(--default-font-family);
        font-size: 1.2em;
        position: absolute;
        right: 0.332em;
        bottom: 0.166em;
        color: white;
        max-width: 80%;

        span:first-child {
            margin-right: 1em;
        }
    }
}

#contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.8em;
    padding: 0 1em;
    margin-top: 1em;

    a {
        margin: 0.5em;
        width: 12.5em;
        padding: 0.5em;
        background-color: #00448D;
        border-radius: 0.2em;
        text-decoration: none;
    }

    img {
        width: 100%;
        box-shadow: 0px 0px 0.5em 0 #00448D;
        margin-bottom: 0.2em;
        pointer-events: none;
    }

    strong {
        display: inline-block;
        font-family: var(--default-font-family);
        color: white;
        font-weight: 600;
        font-size: 1em;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;

    .overlay {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: opacity 1s;
    }

    .overlay.show {
        opacity: 0.7;
        pointer-events: all;
    }
}

@media only screen and (max-width: 72em) {
    body {
        --header-height: 80px;
    }

    header {
        .left {
            .title {
                margin-left: 1em;
            }
        }
    }

    #contents {
        font-size: 1.785vw;
    }
}

@media only screen and (max-width: 56em) {
    body {
        --header-height: 60px;
        font-size: 9px;
    }

    header {
        .right {
            font-size: 2em;
        }
    }

    main {
        input {
            width: 40em;
        }
    }
}

@media only screen and (max-width: 40em) {
    body {
        --header-height: 50px;
        font-size: 8px;
    }

    header {
        .right {
            .decorate {
                display: none;
            }
        }
    }

    main {
        input {
            width: 28em;
        }
    }

    #contents {
        font-size: 2.35vw;
    }
}

@media only screen and (max-width: 24em) {
    body {
        --header-height: 15vw;
        font-size: 2vw;
    }
}