@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

button,
select,
input,
a {
    cursor: pointer;
    pointer-events: all;
}

button {
    border: none;
    background-color: transparent;
}

button:focus-visible,
*[contenteditable=''],
input:focus-visible,
textarea:focus-visible {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    --popup-bgc: #e0f5ff;
    --code-bgc: #1f1f1f;
    --default-font-family: 'Open Sans', sans-serif;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#2e334f 0%, #4f547d 100%);
    z-index: -10;

    .brc {
        position: absolute;
        height: 150px;
        right: 40px;
        bottom: -45px;
    }
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62px;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px 0 #000000;
    background: linear-gradient(#2d3250 0%, #34395a 100%);
    -webkit-user-select: none;
    user-select: none;
    z-index: 10;

    .left,
    .right {
        display: flex;
        align-items: center;
    }

    .left>* {
        margin-left: 30px;
    }

    .left {
        .home {
            display: flex;
            width: 62px;
            height: 100%;
            transition: background-color 200ms;
        }

        .home svg {
            margin: auto;
            fill: #ffffff;
            height: 55%;
            transition: height 200ms;
        }

        .home:hover {
            background-color: #ffffff20;
        }

        .home:hover svg {
            height: 45%;
        }

        .title {
            position: relative;
            display: flex;
            align-items: center;
            color: #ffffff;
            font-family: var(--default-font-family);
            font-weight: 900;
            font-size: 32px;
            text-shadow: 3px 3px 0 #475ab9;
        }

        .title img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 105%;
            transform: translate(-50%, -45%);
            z-index: -1;
        }
    }

    .right>* {
        margin: 0 var(--margin);
    }

    .right {
        --margin: 15px;
        font-size: 20px;
        align-items: center;
        padding-right: var(--margin);

        button {
            position: relative;
            height: 1.5em;
            font-size: inherit;
        }

        button::before {
            content: '|';
            position: absolute;
            color: #475ab9;
            top: 50%;
            right: calc(100% + var(--margin));
            transform: translate(50%, -50%);
            pointer-events: none;
        }

        svg {
            fill: white;
            stroke: white;
            height: 1.5em;
            transition: transform 200ms;
        }

        button:hover svg {
            transform: scale(1.2);
        }

        .lang {
            height: 1.5em;
            width: 2em;
            color: #f2f2f2;
            font-size: inherit;
            background-color: #7077a1;
            font-family: var(--default-font-family);
            font-weight: bold;
            border-radius: 5px;
            transition: background-color 300ms;
        }

        .lang::before {
            content: '';
        }

        .lang:hover {
            background-color: #ffffff40;
        }
    }
}

main,
footer,
#code-box {
    width: calc(100% - 420px);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: transparent;

    .bottombar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding: 0 15px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background-color: #2f3453;

        .algo-list-wrapper {
            position: relative;
            background-color: #3e456e;
            height: 35px;
            border-radius: 5px;
            border: 1.5px solid #ffffff;
        }

        .algo-list-wrapper>* {
            color: #ffffff;
            height: 100%;
        }

        .algo-list {
            padding-left: 10px;
            padding-right: 30px;
            border: none;
            font-family: Calibri, sans-serif;
            font-size: 20px;
            border-radius: 5px;
            background-color: #3e456e;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .algo-list:focus-visible {
            outline: none;
        }

        .algo-list-wrapper div {
            position: absolute;
            right: 5px;
            top: 3px;
            font-size: 25px;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            width: 180px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 100%;
        }

        svg {
            fill: #ffffff;
            height: 80%;
            pointer-events: none;
        }

        button.setting {
            position: relative;
            transition: transform 400ms;
            font-family: var(--default-font-family);
            font-weight: 600;

            * {
                font-family: var(--default-font-family);
                font-weight: 500;
            }

            ul {
                position: absolute;
                width: 250px;
                background-color: #1D2033;
                font-size: 15px;
                border-radius: 5px;
                padding: 10px;
                color: white;
                cursor: default;
                bottom: 85%;
                right: -150%;
                transform: scale(0.5);
                opacity: 0;
                transition: 400ms;
            }

            ul::after {
                content: '';
                position: absolute;
                top: 100%;
                right: 10px;
                border: 10px transparent solid;
                border-top-color: #1D2033;
            }

            li {
                display: flex;
                align-items: center;
                text-align: left;
                list-style-type: none;
            }

            li svg {
                height: 16px;
                margin-right: 8px;
            }

            li.delay .value {
                display: inline-block;
                background-color: #1f1f1f;
                color: white;
                width: 50px;
                padding: 2px 5px;
                text-align: right;
                border-radius: 5px;
                border: 2px #475ab9 solid;
                cursor: text;
                margin: 0 5px;
            }

            svg {
                transition: transform 400ms;
            }
        }

        button.setting.show {
            >svg {
                transform: rotate(-30deg);
            }

            ul {
                transform: scale(1);
                bottom: 140%;
                right: 0;
                opacity: 1;
                pointer-events: all;
            }

            ul * {
                pointer-events: all;
            }
        }
    }
}

#frame {
    position: relative;
    background-color: #1d2033;
    border-radius: calc(var(--size) / 35);
    width: 0;
    height: 0;
    font-size: calc(var(--size) / 100);
    transition: width 500ms, height 500ms, border-radius 200ms;
    overflow: hidden;
}

#frame.editable {
    border-radius: 0;

    * {
        pointer-events: all;
    }
}

#right-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 80px;
    right: 20px;
    bottom: 120px;
    width: 400px;
    padding: 20px 1.5%;
    background-color: #1d2033;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: all;
    transition: top 1s, width 1s, bottom 1s;
    z-index: 5;

    * {
        pointer-events: all;
    }

    tr {
        display: flex;
        --TPTP: ĐTNL;
    }

    td {
        padding: 10px 10px;
        border: 1.5px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    tr:first-child td {
        border-top: none;
    }

    tr:last-child td {
        border-bottom: none;
    }

    td:first-child {
        border-left: none;
    }

    td:last-child {
        border-right: none;
    }

    label {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        cursor: text;
        font-weight: 700;
        font-size: 18px;
    }

    label::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.2em;
        background: linear-gradient(90deg, #ffffff 20%, #ffffff00 100%);
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        margin-top: 0.2em;
    }

    .expand {
        position: absolute;
        top: 5px;
        left: 5px;

        svg {
            height: 18px;
            fill: white;
            transition: transform 1s;
        }
    }

    div {
        display: block;

        .name {
            display: block;
            font-size: 24px;
            text-align: center;
            font-weight: 900;
        }

        pre {
            white-space: wrap;
            line-height: 18px;
            font-family: var(--default-font-family);
        }

        pre span {
            color: #00bbff;
        }
    }

    >* {
        font-family: var(--default-font-family);
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
    }
}

#right-box.expand {
    top: 62px;
    width: calc(100% - 40px);
    bottom: 0;

    .expand {
        svg {
            transform: rotate(180deg);
        }
    }
}

#right-box::-webkit-scrollbar,
#right-box::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

#right-box::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
    color: white;
}

code {
    font-family: monospace;
    border-radius: 5px;
    border-top-left-radius: 0;

    .mtkl {
        text-decoration: underline;
    }

    .mtk1 {
        color: #cccccc;
    }

    .mtk3 {
        color: #d4d4d4;
    }

    .mtk5 {
        color: #6a9955;
    }

    .mtk6 {
        color: #569cd6;
    }

    .mtk7 {
        color: #b5cea8;
    }

    .mtk10 {
        color: #9cdcfe;
    }

    .mtk12 {
        color: #ce9178;
    }

    .mtk16 {
        color: #dcdcaa;
    }

    .mtk17 {
        color: #4ec9b0;
    }

    .mtk18 {
        color: #c586c0;
    }

    .mtk19 {
        color: #4fc1ff;
    }

    .bracket-highlighting-0,
    .bracket-highlighting-3,
    .bracket-highlighting-6 {
        color: #ffd700;
    }

    .bracket-highlighting-1,
    .bracket-highlighting-4 {
        color: #da70d6;
    }

    .bracket-highlighting-2,
    .bracket-highlighting-5 {
        color: #179fff;
    }
}

#code-box {
    margin-top: 10px;
    background-color: #242840;
    padding: 20px 10px;
    border-radius: 10px;

    .top {
        display: flex;
        height: 50px;

        .right {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: end;
            justify-content: end;
            padding-bottom: 0.5%;

            button {
                position: relative;
                height: 60%;
                margin-right: 10px;
            }

            svg {
                height: 90%;
                fill: white;
            }

            .copy-code span {
                position: absolute;
                background-color: var(--color);
                white-space: nowrap;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%) scale(0.5);
                padding: 2px 5px;
                font-size: 14px;
                color: white;
                font-family: var(--default-font-family);
                font-weight: 500;
                border-radius: 5px;
                pointer-events: none;
                border: 1px solid white;
                opacity: 0;
                transition: ease-in-out 200ms;
            }


            .copy-code span.show {
                transform: translateX(-50%) scale(1);
                bottom: 150%;
                opacity: 1;
            }

            .copy-code span::before {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border: 6px transparent solid;
                border-top-color: var(--color);
            }
        }
    }

    .prolang-list {
        display: flex;
        background-color: transparent;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;

        button {
            display: flex;
            width: 50px;
            height: 100%;
        }

        button:first-child {
            border-top-left-radius: 5px;
        }

        button:last-child {
            border-top-right-radius: 5px;
        }

        button.active {
            background-color: var(--code-bgc);
        }

        svg {
            margin: auto;
            height: 70%;
        }
    }

    .prolang-list::-webkit-scrollbar {
        display: none;
    }

    >code {
        --line-numbers-width: 20px;
        display: block;
        width: 100%;
        background-color: var(--code-bgc);
        padding: 10px;
        padding-left: calc(var(--line-numbers-width) + 20px);
        font-size: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow: visible;
    }

    >code::-webkit-scrollbar {
        display: none;
    }

    code {
        .view-line {
            position: relative;
            display: flex;
            width: 100%;
            pointer-events: all;
            border-style: solid;
            border-width: 2px;
            border-color: transparent;
            border-left: none;
            border-right: none;
            transition: border 200ms, background-color 200ms;
        }

        .view-line::before {
            position: absolute;
            display: inline-block;
            top: 1px;
            left: 0;
            transform: translateX(calc(-100% - 10px));
            content: attr(order);
            width: var(--line-numbers-width);
            text-align: right;
            color: #6e7681;
            pointer-events: none;
        }

        .view-line:hover {
            border-color: #303030;
            background-color: #ffffff03;
        }

        .view-line>span {
            pointer-events: all;
            cursor: text;
        }

        .view-line .cmt {
            position: absolute;
            left: 5%;
            bottom: 110%;
            max-width: 70%;
            background-color: var(--code-bgc);
            color: #b5b5b5;
            border: 1px solid #b5b5b5;
            border-radius: 5px;
            padding: 7px;
            pointer-events: none;
            opacity: 0;
        }

        .view-line .cmt:hover {
            border-color: #179fff;
        }

        .view-line:hover .cmt {
            animation: showComment 200ms linear forwards 500ms;
        }

        .view-line code {
            display: inline-block;
        }
    }
}

@keyframes showComment {
    to {
        opacity: 1;
        pointer-events: all;
    }
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 2px 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #1D2033;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    font-size: 14px;
    color: #f4f4f4;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;

    .overlay {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        transition: opacity 1s;

        * {
            position: absolute;
            background-color: black;
            opacity: 0;
        }

        .elm-top {
            top: 0;
            left: 0;
            right: 0;
            transition: height 1s;
        }

        .elm-right {
            right: 0;
            transition: top 1s, height 1s, width 1s;
        }

        .elm-bottom {
            bottom: 0;
            left: 0;
            right: 0;
            transition: height 1s;
        }

        .elm-left {
            left: 0;
            transition: top 1s, height 1s, width 1s;
        }
    }

    .overlay.show {
        opacity: 0.7;
        pointer-events: all;
    }

    .overlay.elm-show {
        background-color: transparent;
        opacity: 0.7;

        * {
            opacity: 1;
            pointer-events: all;
        }
    }

    >.guide,
    >.info {
        position: absolute;
        left: 50%;
        top: 100%;
        bottom: -90%;
        transform: translateX(-50%);
        width: 70%;
        background-color: var(--popup-bgc);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 2%;
        padding-bottom: 0;
        font-family: var(--default-font-family);
        font-weight: 600;
        font-size: 15px;
        opacity: 0;
        transition: bottom 500ms, top 500ms, opacity 1s;

        .line {
            position: relative;
            height: 1px;
            margin: 20px 0;
        }

        .line::before {
            content: '';
            position: absolute;
            display: inline-block;
            background-color: black;
            width: 80%;
            height: 1px;
            top: 0;
            left: 10%;
        }

        >.close {
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 60px;
            font-size: 24px;
            color: white;
            background-color: red;
            pointer-events: none;
        }
    }

    >.guide.show,
    >.info.show {
        opacity: 1;
        bottom: 0;
        top: 70px;
        pointer-events: all;

        * {
            pointer-events: all;
        }
    }

    fieldset {
        width: 100%;
        height: 100%;
        border: 2px solid black;
        border-bottom: none;
        padding: 10px;
        padding-bottom: 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow-y: auto;

        >span {
            display: block;
        }
    }

    fieldset::-webkit-scrollbar-track {
        border: 5px solid #e0f5ff;
        background-color: transparent;
    }

    fieldset::-webkit-scrollbar {
        width: 8px;
        background-color: #dfe6e9;
    }

    fieldset::-webkit-scrollbar-thumb {
        background-color: #74b9ff;
        border-radius: 10px;
    }

    legend {
        margin-left: 2.5%;
        margin-bottom: 0;
        padding: 0 5px;
        font-size: 24px;
        font-weight: 900;
    }

    .logo {
        text-align: center;
        margin-bottom: 10px;

        img {
            width: 60%;
            max-width: 250px;
        }
    }

    .info {
        ul {
            padding-left: 60px;

            svg {
                height: 15px;
                margin-right: 5px;
            }

            li {
                display: flex;
                align-items: center;
                margin-top: 5px;
            }
        }

        .footer {
            display: flex;
            justify-content: space-around;
        }
    }

    .guide {
        .start-guide-wrapper {
            display: flex;
            align-items: center;
            margin-left: 32px;
            font-size: 16px;
            font-weight: 700;
        }

        .start-guide {
            display: flex;
            padding: 2px;
            background-color: #1D95C9;
            border-radius: 50%;
            margin-left: 5px;
        }

        .start-guide svg {
            margin: auto;
            height: 40px;
            fill: white;
        }

        .shortcuts {
            --left-width: 200px;
            text-align: right;

            li {
                margin-top: 10px;
            }

            section {
                display: inline-block;
                width: calc(100% - var(--left-width));
                text-align: left;
            }

            span {
                border: 1px solid black;
                padding: 0 5px;
                border-radius: 5px;
            }
        }
    }

    .guide-box {
        position: absolute;
        background-color: white;
        border-radius: 15px;
        max-width: 50vw;
        opacity: 0;
        transition: top 1s, left 1s;

        .message {
            padding: 15px;
            padding-top: 25px;
            font-family: var(--default-font-family);
            font-size: 15px;
            font-weight: 700;
        }

        .bottombar {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
        }

        .previous svg,
        .next svg {
            fill: black;
            height: 30px;
        }

        .previous,
        .next {
            transition: opacity 200ms;
        }

        .previous.disabled,
        .next.disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        .line {
            position: relative;
            margin: 0 5px;
            height: 10px;
            width: 100px;
            border-radius: 5px;
            background-color: gray;
            overflow: hidden;
        }

        .line::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: calc(100% / var(--len));
            height: 100%;
            top: 0;
            left: calc(1% * (var(--cur) / var(--len) * 100));
            background-color: black;
            transition: left 1s;
        }

        .close {
            position: absolute;
            right: 5px;
            top: 0px;
            font-size: 25px;
        }
    }

    .guide-box.show {
        opacity: 1;
    }

    .custom-input {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        opacity: 0;
        background-color: var(--popup-bgc);
        padding: 10px;
        border-radius: 10px;
        border: 0 solid transparent;
        transition: top 500ms, opacity 500ms, border 500ms;
        box-sizing: content-box;
        font-family: var(--default-font-family);

        .title {
            position: relative;
            text-align: center;
        }

        .title::before {
            content: '';
            position: absolute;
            height: 2px;
            top: 50%;
            left: 0;
            width: 100%;
            background-color: black;
            z-index: -1;
        }

        .title::after {
            content: attr(data-text);
            font-weight: 700;
            font-size: 18px;
            background-color: var(--popup-bgc);
            padding: 0 3%;
        }

        .constraints {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
        }

        textarea {
            width: 100%;
            min-height: 100px;
            background-color: var(--code-bgc);
            font-family: monospace;
            color: #cccccc;
            font-size: 16px;
            padding: 10px;
            border-radius: 5px;
            overflow: hidden;
            resize: none;
        }

        .btns {
            text-align: right;
            margin-top: 5px;

            button {
                border: 2px solid transparent;
                padding: 5px 10px;
                font-size: 15px;
                font-weight: 600;
                border-radius: 5px;
            }

            .close {
                border-color: red;
                color: red;
            }

            .custom {
                margin-left: 5px;
                border-color: green;
                background-color: green;
                color: white;
            }
        }
    }

    .custom-input.show {
        opacity: 1;
        top: 50%;
        pointer-events: all;

        * {
            pointer-events: all;
        }
    }

    .custom-input.success {
        border-width: 5px;
        border-color: green;
    }

    .custom-input.failure {
        border-width: 5px;
        border-color: red;
    }

    .apply-frame-editing {
        position: absolute;
        background-color: green;
        color: white;
        font-family: var(--default-font-family);
        font-weight: 600;
        font-size: 18px;
        padding: 2px 10px 4px;
        border-radius: 5px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 200ms;
    }

    .apply-frame-editing.show {
        opacity: 1;
        pointer-events: all;
    }
}

@media only screen and (max-width: 72em) {
    #bg .brc {
        display: none;
    }

    #right-box {
        position: static;
        margin-top: 10px;
        padding: 2% 5%;

        label {
            margin-top: 18px;
            margin-bottom: 6px;
        }

        .expand {
            display: none;
        }
    }

    #right-box.expand {
        top: auto;
        width: auto;
        height: auto;
    }

    main,
    footer,
    #code-box,
    #right-box {
        width: 100%;
    }

    main {
        margin-top: 72px;
    }

    #right-box table {
        margin: 0 5%;
    }
}

@media only screen and (max-width: 56em) {
    header {
        height: 54px;

        .left .home {
            width: 54px;
        }

        .left .title {
            font-size: 28px;
        }

        .left>* {
            margin-left: 20px;
        }

        .right {
            --margin: 10px;
        }
    }

    #popup {
        legend {
            font-size: 20px;
        }

        >.guide,
        >.info {
            >.close {
                top: 10px;
                right: auto;
                left: 100%;
                font-size: 20px;
                width: 25px;
                height: 45px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 10px;
            }
        }
    }
}

@media only screen and (max-width: 40em) {
    body {
        padding: 0 10px;
    }

    header {
        height: 50px;

        .left .home {
            width: 50px;
        }

        .left .title {
            font-size: 26px;
        }

        .left>* {
            margin-left: 10px;
        }

        .right {
            --margin: 5px;
            font-size: 16px;
        }
    }

    #right-box {
        td {
            border-width: 1px;
        }

        label {
            margin-top: 12px;
            margin-bottom: 4px;
            font-size: 14px;
        }
    }

    main .bottombar {
        height: 40px;
        padding: 0 10px;

        .algo-list-wrapper {
            height: 25px;
        }

        .algo-list {
            font-size: 16px;
            padding-left: 8px;
            padding-right: 22px;
        }

        .algo-list-wrapper div {
            font-size: 20px;
            top: 1px;
            right: 3px;
        }

        .right {
            height: 34px;
            width: 150px;
        }

        button {
            width: 34px;
        }
    }

    #code-box .top {
        height: 40px;

        .prolang-list button {
            width: 40px;
        }
    }

    #code-box>code {
        --line-numbers-width: 15px;
    }

    footer {
        font-size: 12px;
    }

    #popup {
        legend {
            font-size: 16px;
        }

        >.guide,
        >.info {
            font-size: 14px;
            width: 80%;
        }

        .guide {
            .start-guide-wrapper {
                font-size: 14px;
                margin-left: 30px;
            }

            .shortcuts {
                --left-width: abc;
                text-align: left;

                li {
                    margin-left: 20px;
                    list-style-type: none;
                }

                section {
                    display: block;
                    margin-left: inherit;
                }
            }
        }

        .custom-input {
            width: 80%;

            .title::after {
                font-size: 16px;
            }
        }

        .apply-frame-editing {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 24em) {
    body {
        padding: 0 1vw;
    }

    header {
        height: 12vw;

        .left>* {
            margin-left: 1vw;
        }

        .left {
            .home {
                width: 12vw;
            }

            .title {
                font-size: 6vw;
            }
        }

        .right {
            --margin: 2vw;
            font-size: 4vw;
        }
    }

    main {
        margin-top: 15vw;

        .bottombar {
            height: 12vw;
            border-radius: 2vw;
            padding: 0 2vw;
            margin-top: 2vw;

            .algo-list-wrapper {
                height: 8vw;
                border-radius: 2vw;

                div {
                    font-size: 6vw;
                    top: 0.5vw;
                    right: 2vw;
                }
            }

            .algo-list {
                font-size: 5vw;
                padding-left: 2.5vw;
                padding-right: 5vw;
                border-radius: 2vw;
            }

            button {
                width: 7vw;
            }

            .right {
                width: 30vw;
                height: 7vw;
            }

            button.setting {
                ul {
                    width: 50vw;
                    font-size: 4vw;
                    padding: 2vw;
                    border-radius: 2vw;
                }

                ul::after {
                    border-width: 2vw;
                    right: 2vw;
                }

                li.delay .value {
                    width: 12vw;
                    font-size: 4vw;
                    padding: 0.2vw 1vw;
                    border-radius: 1vw;
                    border-width: 0.2vw;
                    margin: 0 1vw;
                }

                li svg {
                    height: 3vw;
                    margin-right: 1vw;
                }
            }
        }
    }

    #right-box {
        margin-top: 2vw;

        label {
            font-size: 4.3vw;
            margin-top: 6vw;
            margin-bottom: 2vw;
        }

        div {
            .name {
                font-size: 6vw;
            }

            pre {
                line-height: 4.5vw;
            }
        }

        >* {
            font-size: 4vw;
        }

        td {
            padding: 2vw;
        }
    }

    #code-box {
        padding: 4vw 2vw;
        margin-top: 2vw;

        >code {
            --line-numbers-width: 6vw;
            font-size: 3vw;
            padding: 2vw;
            padding-left: calc(var(--line-numbers-width) + 1vw);
        }

        .top {
            height: 12vw;

            .prolang-list button {
                width: 12vw;
            }

            .right {
                button {
                    margin-right: 2vw;
                }
            }
        }

        code {
            .view-line {
                border-width: 0.1vw;
            }

            .view-line::before {
                top: 0.1vw;
                transform: translateX(calc(-100% - 2vw));
            }

            .view-line .cmt {
                padding: 2vw;
                border-radius: 2vw;
            }
        }
    }

    footer {
        margin-top: 2vw;
        padding: 1vw 4vw;
        font-size: 4vw;
    }

    #popup {
        .guide-box {
            max-width: 80vw;
            border-radius: 3vw;

            .message {
                padding: 4vw;
                padding-top: 7vw;
                font-size: 4vw;
            }

            .close {
                right: 2vw;
                font-size: 8vw;
            }

            .line {
                height: 1.5vw;
                width: 15vw;
                margin: 0 1vw;
            }

            .previous svg,
            .next svg {
                height: 8vw;
            }
        }

        .info {
            font-size: 3vw;

            ul {
                padding-left: 12vw;

                li {
                    margin-top: 1vw;
                }

                svg {
                    height: 3vw;
                    margin-right: 1vw;
                }
            }

            .footer {
                font-size: 2vw;
            }
        }

        >.guide,
        >.info {
            .line {
                height: 0.1vw;
                margin: 2vw 0;
            }

            >.close {
                top: auto;
                bottom: 100%;
                left: auto;
                right: 5%;
                height: 6vw;
                width: 10vw;
                border-radius: 0;
                border-top-left-radius: 2vw;
                border-top-right-radius: 2vw;
                font-size: 6vw;
            }
        }

        >.guide.show,
        >.info.show {
            top: 20vw;
            border-top-left-radius: 2vw;
            border-top-right-radius: 2vw;
        }

        fieldset {
            padding: 2vw;
            padding-bottom: 20vw;
            border-top-left-radius: 2vw;
            border-top-right-radius: 2vw;
            border-width: 0.6vw;

            legend {
                font-size: 5vw;
            }
        }

        .logo {
            margin-bottom: 2vw;
        }

        fieldset::-webkit-scrollbar-track {
            border-width: 1vw;
        }

        fieldset::-webkit-scrollbar {
            width: 1.5vw;
        }

        .custom-input {
            padding: 2vw;
            border-radius: 2vw;

            .title::before {
                height: 0.4vw;
                top: 0.85em;
            }

            .title::after {
                font-size: 5vw;
            }

            .constraints {
                font-size: 4vw;
                margin-bottom: 1vw;
            }

            .btns {
                margin-top: 1vw;

                button {
                    border-width: 0.2vw;
                    padding: 1vw 2vw;
                    font-size: 4vw;
                    border-radius: 1vw;
                }
            }

            textarea {
                min-height: 20vw;
                padding: 2vw;
                border-radius: 1vw;
                font-size: 5vw;
            }
        }
    }
}

