@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

#frame .background {
    position: absolute;
    top: 0;
    left: 0;
    background: #0040C1;
    width: 100%;
    height: 100%;

    span {
        position: absolute;
        top: 80%;
        left: 45%;
        width: 1em;
        height: 2em;
        border: solid 0.1em #003298;
        border-radius: 0.3em;
        transform-origin: top left;
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        animation: animate 12s ease-in forwards infinite;
    }

    span:nth-child(2n) {
        border-color: #0051f4;
    }

    span:nth-child(2) {
        animation-delay: 2s;
        left: 25%;
        top: 40%;
    }

    span:nth-child(3) {
        animation-delay: 4s;
        left: 75%;
        top: 50%;
    }

    span:nth-child(4) {
        animation-delay: 6s;
        left: 90%;
        top: 10%;
    }

    span:nth-child(5) {
        animation-delay: 8s;
        left: 10%;
        top: 85%;
    }

    span:nth-child(6) {
        animation-delay: 10s;
        left: 50%;
        top: 10%;
    }
}

@keyframes animate {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

#frame .array {
    position: absolute;
    height: 42em;
    width: 166.6em;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        position: absolute;
        top: 0;
        display: inline-block;
        width: 1.8em;
        height: 6em;
        line-height: 6em;
        font-size: 7em;
        border-radius: 0.5em;
        text-align: center;
        font-family: 'Poetsen One', sans-serif;
        background-color: #CAF4FF;
        transition: transform var(--delay), background-color var(--delay), left calc(var(--delay) * 2);
    }

    span.selected {
        transform: scale(1.1);
        background-color: yellowgreen;
    }
}

#frame .target {
    position: absolute;
    font-family: 'Poetsen One', sans-serif;
    top: 20%;
    left: 5%;
    color: #CAF4FF;
    font-size: 10em;

    span:first-child {
        display: inline-block;
        font-size: 0.8em;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        text-align: center;
        border-radius: 50%;
        background-color: #CAF4FF;
        color: black;
        margin-right: 0.1em;
        transition: background-color var(--delay);
    }
}

#frame .target.success {
    span:first-child {
        background-color: greenyellow;
    }
}

#frame .target.failure {
    span:first-child {
        background-color: red;
    }
}