#frame {
    background-color: #E0EFF1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
        display: flex;

        span:first-child {
            border-left-width: 0.3em;
        }

        span:last-child {
            border-right-width: 0.3em;
        }
    }

    div:first-child span {
        border-top-width: 0.3em;
    }

    div:last-child span {
        border-bottom-width: 0.3em;
    }

    div.non span {
        background-color: rgb(255, 120, 120);
    }

    span {
        position: relative;
        display: inline-block;
        height: 7em;
        width: 7em;
        background-color: white;
        border: 0.1em solid black;
        cursor: pointer;
        transition: background-color var(--delay);
    }

    span.value-1,
    div.non span.value-1 {
        background-color: #383838;
    }

    span.start,
    div.non span.start {
        background-color: #FFFF00 !important;
    }

    span.end,
    div.non span.end {
        background-color: #00FF00 !important;
    }

    span.path {
        background-color: #6164FF;
    }

    span i {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: ani var(--delay) forwards;
    }
}

@keyframes ani {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 38, 255, 0.2);
    }
}